
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css">


    <title>We:Watch</title>


    <h3>Gör en anmälan</h3>

    <div class="container-fluid">
        <form action="~/Home/Form/" method="post" id="reportForm" class="form-horizontal">

            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label for="fornamn">Förnamn</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <input type=text class="textbox" value="" name="fornamn" id="fornamn">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label for="efternamn">Efternamn</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <input type=text class="textbox" value="" name="efternamn" id="efternamn">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label for="email">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <input type=email class="textbox" value="" name="email" id="email">
                    </div>
                </div>
            </div>

            <div class="form-group">

                <div class="row">
                    <div class="col-md-6">
                        <label for="telefonnummer">Telefonnummer</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <input type=text class="textbox" value="" name="telefonnummer" id="telefonnnummer">
                    </div>
                </div>
            </div>

            <div class="form-group">

                <div class="row">
                    <div class="col-md-6">
                        <label for="personnummer">Personnnummer</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <input type=text class="textbox" value="" name="personnummer" id="personnummer">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label for="adress">Adress</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <input type=text class="textbox" value="" name="adress" id="adress">
                    </div>
                </div>
            </div>

            <div class="form-group">

                <div class="row">
                    <div class="col-md-6">
                        <label for="datum">Datum för händelse</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <input type=datetime-local class="textbox" value="" name="datum" id="datum">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">
                        <label for="meddelande">Meddelande</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <textarea name="meddelande" class="textbox" id="meddelande" form="reportForm"></textarea>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-6">

                        <input type="submit" value="Skicka in anmälan" name="submit">
                    </div>
                </div>
            </div>

        </form>
    </div>



