
@{
    ViewBag.Title = "Index";
}

<h2></h2>

<div class="container-fluid">
    <div class="row">
        <div class="divStart col-xs-12 col-md-3">
            <div class="kolumnRubrik text-center">Välkommen till<br /> We-Watch!</div>
            <p class="kolumnText">
                Den här sidan är till för dig som snabbt och enkelt vill rapportera om avvikande händelser som inte är
                befogat att ringa 112 för.<br><br>Vår administratör har kontakt med hela kedjan inom räddningstjänsten och skickar
                er rapportering vidare för eventuell åtgärd.<br><br>Du får också feedback på hur ärendet har åtgärdats.<br>
                Det är viktigt att du fyller i formuläret så noggrannt som möjligt.<br><br>
                <strong>Tack för din insats!</strong>
            </p>
        </div>
        <div class="divStart col-xs-12 col-md-3">
            <div class="kolumnRubrik text-center">Formulär</div>
            
        </div>
        <div class="divStart col-xs-12 col-md-3">
            <div class="kolumnRubrik text-center">Om oss</div>
            <p class="kolumnText">
                Vår verksamhet är nu inne på sitt tredje år och vi känner hur vi tillsammans med er som rapporterar 
                verkligen gör en insats för samhället.<br><br>Vi har optimerat och effektiviserat resursfördelningen inom
                räddningstjänsten och därigenom frigjort tid som de kan fördela på mer akuta ärenden.<br><br>We-Watch kom till 
                som ett skolprojekt och har vuxit till ett företag med 8 anställda.<br><br>Företaget finns i Göteborg men
                står i kommunikation med all räddningstjänst i Sveriges alla kommuner.
            </p>
        </div>
   </div>
</div>
